@page
@model GeekAPI.Pages.Consent.IndexModel
@{
    ViewData["Title"] = "Authorize application";
}

<section class="auth-card">
    <h1>Authorize @Model.ApplicationName</h1>
    <p>This application is requesting access to your Geek account.</p>
    @if (Model.Scopes.Count > 0)
    {
        <ul>
            @foreach (var scope in Model.Scopes)
            {
                <li>@scope</li>
            }
        </ul>
    }
    <form method="post">
        <input type="hidden" asp-for="Input.ReturnUrl" />
        <button type="submit" name="Input.Button" value="accept">Allow</button>
        <button type="submit" name="Input.Button" value="deny">Deny</button>
    </form>
</section>
